<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- Make it compatible to mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression Prediction</title>
    <style>
    }
    body {
      background-color: rgb(192, 192, 192);
      font: 75% georgia, sans-serif;
      line-height: 2;
      font-size: 1.2em;
    }
    h2 { 
      font: italic normal 1.4em georgia, sans-serif;
      letter-spacing: 1px; 
      margin-bottom: 0; 
      color: #4C4556;
    </style>
</head>

<body>
    <h2>The user was not found. Please go back to the previous page and try again.</h2>
 </div>
</body>
</html>